body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.block-container {
  background-color: black;
  margin: 0 auto;
  width: 900px;
}
.main-container {
  display: block;
  padding-top: 90px;
}
.image-back {
  display: inline;
  width: 30px;
  float: left;
  padding-right: 20px;
}
.image-search {
  width: 30px;
  float: right;
  cursor: pointer;
}
.drama-heading {
  color: white;
  font-size: 22px;
  display: inline;
}
.block-container-image {
  z-index: 1;
    padding: 30px 40px;
    position: fixed;
    top: 0;
    background: black;
    width: 800px;;
}
.container {
  width: 250px;
  display: inline-block;
  padding: 10px 25px 24px 25px;
}
.movie-title {
color: white;
}
.close-icon {
  color: white;
    padding-left: 10px;
    font-size: 16px;
    cursor: pointer;
}
.image-search-input {
  display: inline-block;
}
input {
    height: 25px;
}
.no-movies {
  color: white;
    font-size: 22px;
    padding-bottom: 20px;
    text-align: center;
}
.images-list {
  width: 250px;
}

@media screen and (min-width:375px) and (max-width:767px) {
  .block-container {
    width: 375px;
    /* height: 700px; */
  }
  .block-container-image {
    width: 375px;
    padding: 20px;
    box-sizing: border-box;
  }
  .main-container {
    width: 375px;
    padding-top: 70px;
  }
  .container {
    width: 100px;
    padding: 10px 10px 20px 10px;
  }
  .images-list {
    width: 100px;
  }
  .movie-title {
    text-align: center;
  }
 }
